html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-light);
}

* {
  box-sizing: border-box;
}

:root {
  --white-light: #f9f9f9;
}
